/.DS_Store
/2022_03
/2022_04
/2022_05
/2022_06
/DW_Boss-1.jpg
/DW_Boss.pages
/DW_Boss.pdf
/DW_Farma-1.jpg
/DW_Farma.pages
/DW_Farma.pdf
/P4F
/__pycache__
/abex_min_costs.csv
/abex_opt_costs.csv
/abex_status.csv
/abex_whl_costs.csv
/credentials.json
/dw_heroes.csv
/dw_heroes_v0.csv
/engr.csv
/heroes.csv
/heroes_v0.csv
/main.py
/pybluez.py
/pybt.py
/quickstart.py
/ranking.py
/sig.csv
/token.json